*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.bloop/bloop.settings.json
.bloop/simple-etl-test.json
.bloop/simple-etl.json
.bloop/simple-etl/simple-etl-analysis.bin
.bloop/simple-etl/simple-etl-test-analysis.bin
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-NkCuCD7XSpKRtN9BVAZP6w==/Crypto.tasty
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-NkCuCD7XSpKRtN9BVAZP6w==/CryptoData.tasty
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-NkCuCD7XSpKRtN9BVAZP6w==/Main.tasty
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-NkCuCD7XSpKRtN9BVAZP6w==/ResponseParsing.tasty
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-NkCuCD7XSpKRtN9BVAZP6w==/META-INF/semanticdb/src/main/scala/CryptoData.scala.semanticdb
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-NkCuCD7XSpKRtN9BVAZP6w==/META-INF/semanticdb/src/main/scala/Main.scala.semanticdb
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-NkCuCD7XSpKRtN9BVAZP6w==/META-INF/semanticdb/src/main/scala/ResponseParsing.scala.semanticdb
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-xlfIhpbqS1C3-hPGQmrT0Q==/Crypto.tasty
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-xlfIhpbqS1C3-hPGQmrT0Q==/CryptoData.tasty
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-xlfIhpbqS1C3-hPGQmrT0Q==/Main.tasty
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-xlfIhpbqS1C3-hPGQmrT0Q==/ResponseParsing.tasty
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-xlfIhpbqS1C3-hPGQmrT0Q==/META-INF/semanticdb/src/main/scala/CryptoData.scala.semanticdb
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-xlfIhpbqS1C3-hPGQmrT0Q==/META-INF/semanticdb/src/main/scala/Main.scala.semanticdb
.bloop/simple-etl/bloop-internal-classes/classes-Metals-MrA89UBEQQWxatbzoBn0Vg==-xlfIhpbqS1C3-hPGQmrT0Q==/META-INF/semanticdb/src/main/scala/ResponseParsing.scala.semanticdb
.bloop/simple-etl/bloop-internal-classes/test-classes-Metals-_W4TdK01SJ6vlmGS8vSrCw==-vUZf9V3OQA2eVq3hMRFlpA==/JsonParseTestSpec.tasty
.bloop/simple-etl/bloop-internal-classes/test-classes-Metals-_W4TdK01SJ6vlmGS8vSrCw==-vUZf9V3OQA2eVq3hMRFlpA==/META-INF/semanticdb/src/test/scala/JsonParseTest.scala.semanticdb
.metals/.scalafmt.conf
.metals/metals.lock.db
.metals/metals.mv.db
.metals/workspace-symbol.md
.metals/.reports/bloop/2024-07-31/r_Empty build targets...._01-44-43-002.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-47-693.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-47-775.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-47-843.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-47-849.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-47-877.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-47-912.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-47-915.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-47-925.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-48-321.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-48-426.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-48-439.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-48-970.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-48-972.md
.metals/.reports/bloop/2024-07-31/r_error while loading ..._02-54-48-994.md
.metals/.reports/metals/2024-07-31/r_scala-toplevel-mtags_(simple-etl)_02-02-50-464.md
.metals/.reports/metals/2024-07-31/r_scala-toplevel-mtags_(simple-etl)_03-11-58-112.md
.metals/.reports/metals/2024-07-31/r_scala-toplevel-mtags_(simple-etl)_03-13-26-680.md
.metals/.reports/metals/2024-07-31/r_scala-toplevel-mtags_(simple-etl)_03-15-00-864.md
.metals/.reports/metals/2024-07-31/r_scala-toplevel-mtags_01-47-58-357.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_(simple-etl-build)_03-34-59-143.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_(simple-etl-build)_03-34-59-827.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_(simple-etl-build)_03-35-00-551.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_(simple-etl-build)_03-40-51-376.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-46-59-815.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-00-629.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-02-767.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-06-500.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-07-163.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-07-723.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-08-444.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-09-365.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-10-127.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-12-607.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-13-361.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-13-916.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-14-257.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-15-025.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-24-603.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-26-713.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-27-481.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-40-366.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-57-561.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-47-58-422.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-05-037.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-06-726.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-07-498.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-08-288.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-09-909.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-10-301.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-11-122.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-12-011.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-12-429.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-14-002.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-14-283.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-15-059.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-20-069.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-20-980.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-21-344.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-23-204.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-24-321.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-25-217.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-26-128.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-26-957.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-28-474.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-30-674.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-32-327.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-32-383.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-32-721.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-33-723.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-36-571.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-38-008.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-38-839.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-40-556.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-42-282.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-42-688.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-43-502.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-44-900.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-46-231.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-47-467.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-48-239.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-49-552.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-50-771.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-52-689.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-53-173.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-54-671.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-55-433.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-56-263.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-48-58-727.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-01-914.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-02-735.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-04-598.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-04-909.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-05-515.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-05-922.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-06-407.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-07-760.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-10-380.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-11-207.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-13-544.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-15-026.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-15-635.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-16-040.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-16-800.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-17-920.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-18-470.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-19-188.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-21-670.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-27-704.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-27-769.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-28-298.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-33-302.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-35-368.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-36-485.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-37-090.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-38-013.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-38-375.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-38-778.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-39-544.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-40-743.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-41-046.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-41-947.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-42-711.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-44-178.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-46-319.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-46-380.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-46-804.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-47-558.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-48-360.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-49-435.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-51-613.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-51-878.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-52-650.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-57-019.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-58-718.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-59-478.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-49-59-793.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-00-608.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-00-943.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-01-575.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-02-383.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-03-822.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-05-114.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-05-166.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-05-793.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-08-000.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-09-096.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-09-370.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-09-651.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-10-597.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-11-410.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-11-888.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-12-772.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-13-469.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-14-532.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-15-340.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-18-091.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-20-476.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-21-305.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-27-918.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-29-347.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-30-005.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-30-381.md
.metals/.reports/metals-full/2024-07-31/r_compiler-error_01-50-30-791.md
.metals/.tmp/classpath_3D43B5EAEBE3F473F58EDD36EF8350D6.jar
.metals/.tmp/classpath_47230BE21BC5131E429A2B393F8AF536.jar
.metals/.tmp/classpath_6300671A70B14829ABD70522D7C2DF45.jar
.metals/.tmp/classpath_EA7E2C57A6924981C95C03BD10576CC2.jar
.vscode/settings.json
.bloop/simple-etl/bloop-bsp-clients-classes/classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/Crypto.tasty
.bloop/simple-etl/bloop-bsp-clients-classes/classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/CryptoData.tasty
.bloop/simple-etl/bloop-bsp-clients-classes/classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/Main.tasty
.bloop/simple-etl/bloop-bsp-clients-classes/classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/ResponseParsing.tasty
.bloop/simple-etl/bloop-bsp-clients-classes/classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/META-INF/semanticdb/src/main/scala/CryptoData.scala.semanticdb
.bloop/simple-etl/bloop-bsp-clients-classes/classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/META-INF/semanticdb/src/main/scala/Main.scala.semanticdb
.bloop/simple-etl/bloop-bsp-clients-classes/classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/META-INF/semanticdb/src/main/scala/ResponseParsing.scala.semanticdb
.bloop/simple-etl/bloop-bsp-clients-classes/test-classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/JsonParseTestSpec.tasty
.bloop/simple-etl/bloop-bsp-clients-classes/test-classes-Metals-Ju-R2NDfSRyA1ADe3rZaKg==/META-INF/semanticdb/src/test/scala/JsonParseTest.scala.semanticdb
project/build.properties
project/metals.sbt
project/.bloop/bloop.settings.json
project/.bloop/simple-etl-build.json
project/project/metals.sbt
project/project/project/target/config-classes/$8d1f8dc83ec93a869f78.cache
project/project/target/config-classes/$0b8266db1b32bb2dc524.cache
project/project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/project/target/streams/_global/_global/_global/streams/out
project/project/target/streams/_global/_global/csrLogger/_global/streams/out
project/project/target/streams/_global/csrConfiguration/_global/streams/out
project/project/target/streams/_global/csrProject/_global/streams/out
project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/project/target/streams/_global/ivyConfiguration/_global/streams/out
project/project/target/streams/_global/ivySbt/_global/streams/out
project/project/target/streams/_global/moduleSettings/_global/streams/out
project/project/target/streams/_global/projectDescriptors/_global/streams/out
project/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/project/target/streams/_global/update/_global/streams/out
project/project/target/streams/compile/_global/_global/compileOutputs/previous
project/project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/project/target/streams/compile/bspReporter/_global/streams/out
project/project/target/streams/compile/compile/_global/streams/out
project/project/target/streams/compile/compileIncremental/_global/streams/export
project/project/target/streams/compile/compileIncremental/_global/streams/out
project/project/target/streams/compile/copyResources/_global/streams/out
project/project/target/streams/compile/dependencyClasspath/_global/streams/export
project/project/target/streams/compile/exportedProducts/_global/streams/export
project/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/project/target/streams/compile/incOptions/_global/streams/out
project/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/project/target/streams/compile/managedClasspath/_global/streams/export
project/project/target/streams/compile/scalacOptions/_global/streams/out
project/project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/project/target/streams/compile/unmanagedJars/_global/streams/export
project/project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/project/target/streams/runtime/exportedProducts/_global/streams/export
project/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/project/target/streams/runtime/fullClasspath/_global/streams/export
project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/project/target/streams/runtime/managedClasspath/_global/streams/export
project/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/project/target/streams/runtime/unmanagedJars/_global/streams/export
project/target/config-classes/$2a1f40938771265e92e1.cache
project/target/config-classes/$7b15aac150644ff25e82.cache
project/target/config-classes/$69bf59c87ad1bb1558d0.cache
project/target/config-classes/$88b6b496584cffaa5366.cache
project/target/config-classes/$897cf5a953f28c81b05c.cache
project/target/config-classes/$6076f758153e89d138fb.cache
project/target/config-classes/$ab03831e858045e94c8f.cache
project/target/config-classes/$b21893d91ded6e7eaede.cache
project/target/config-classes/$f0d18a71db389c722583.cache
project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/target/streams/_global/_global/_global/streams/out
project/target/streams/_global/_global/bloopInstall/_global/streams/out
project/target/streams/_global/_global/csrLogger/_global/streams/out
project/target/streams/_global/csrConfiguration/_global/streams/out
project/target/streams/_global/csrProject/_global/streams/out
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/target/streams/_global/ivyConfiguration/_global/streams/out
project/target/streams/_global/ivySbt/_global/streams/out
project/target/streams/_global/moduleSettings/_global/streams/out
project/target/streams/_global/projectDescriptors/_global/streams/out
project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/target/streams/_global/update/_global/streams/out
project/target/streams/_global/updateClassifiers/_global/streams/out
project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
project/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
project/target/streams/_global/updateSbtClassifiers/_global/streams/out
project/target/streams/compile/_global/_global/compileOutputs/previous
project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/target/streams/compile/bloopGenerate/_global/streams/out
project/target/streams/compile/bloopPostGenerate/_global/streams/out
project/target/streams/compile/bspReporter/_global/streams/out
project/target/streams/compile/compile/_global/streams/out
project/target/streams/compile/compileIncremental/_global/streams/export
project/target/streams/compile/compileIncremental/_global/streams/out
project/target/streams/compile/copyResources/_global/streams/out
project/target/streams/compile/dependencyClasspath/_global/streams/export
project/target/streams/compile/exportedProducts/_global/streams/export
project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/target/streams/compile/incOptions/_global/streams/out
project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/target/streams/compile/managedClasspath/_global/streams/export
project/target/streams/compile/scalacOptions/_global/streams/out
project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/target/streams/compile/unmanagedJars/_global/streams/export
project/target/streams/it/bloopGenerate/_global/streams/out
project/target/streams/it/bloopPostGenerate/_global/streams/out
project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/target/streams/runtime/exportedProducts/_global/streams/export
project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/target/streams/runtime/fullClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/target/streams/runtime/managedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/target/streams/runtime/unmanagedJars/_global/streams/export
project/target/streams/test/bloopGenerate/_global/streams/out
project/target/streams/test/bloopPostGenerate/_global/streams/out
target/scala-2.13/update/update_cache_2.13/inputs
target/scala-2.13/update/update_cache_2.13/output
target/scala-3.1.0/update/update_cache_3/inputs
target/scala-3.1.0/update/update_cache_3/output
target/scala-3.3.3/update/update_cache_3/inputs
target/scala-3.3.3/update/update_cache_3/output
target/scala-3.4.2/update/update_cache_3/inputs
target/scala-3.4.2/update/update_cache_3/output
target/streams/_global/_global/bloopInstall/_global/streams/out
target/streams/_global/_global/csrLogger/_global/streams/out
target/streams/_global/csrConfiguration/_global/streams/out
target/streams/_global/csrProject/_global/streams/out
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_3/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_3/output_dsp
target/streams/_global/ivyConfiguration/_global/streams/out
target/streams/_global/ivySbt/_global/streams/out
target/streams/_global/moduleSettings/_global/streams/out
target/streams/_global/projectDescriptors/_global/streams/out
target/streams/_global/scalaInstance/_global/streams/out
target/streams/_global/update/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
target/streams/_global/updateClassifiers/_global/streams/update_cache_3/inputs
target/streams/_global/updateClassifiers/_global/streams/update_cache_3/output
target/streams/compile/bloopGenerate/_global/streams/out
target/streams/compile/bloopPostGenerate/_global/streams/out
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/scalacOptions/_global/streams/out
target/streams/compile/unmanagedClasspath/_global/streams/export
target/streams/compile/unmanagedClasspath/_global/streams/out
target/streams/compile/unmanagedJars/_global/streams/export
target/streams/it/bloopGenerate/_global/streams/out
target/streams/it/bloopPostGenerate/_global/streams/out
target/streams/runtime/externalDependencyClasspath/_global/streams/export
target/streams/runtime/managedClasspath/_global/streams/export
target/streams/runtime/unmanagedClasspath/_global/streams/export
target/streams/runtime/unmanagedClasspath/_global/streams/out
target/streams/runtime/unmanagedJars/_global/streams/export
target/streams/test/bloopGenerate/_global/streams/out
target/streams/test/bloopPostGenerate/_global/streams/out
target/streams/test/externalDependencyClasspath/_global/streams/export
target/streams/test/managedClasspath/_global/streams/export
target/streams/test/scalacOptions/_global/streams/out
target/streams/test/unmanagedClasspath/_global/streams/export
target/streams/test/unmanagedClasspath/_global/streams/out
target/streams/test/unmanagedJars/_global/streams/export
